* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.container {
  display: grid;
  grid-template-areas:
    "head head head"
    "sidetop main main"
    "sidetop main main"
    "sidebottom main main"
    "sidebottom main main";
  grid-template-columns: 33%;
}

header {
  background-color: #1F1F3D;
  grid-area: head;
  padding: 15px;
}

h1 {
  padding: 5px 0;
  color: #FFF;
  font-size: 45px;
  text-align: center;
}

.yo {
  color: #FFC30C;
}

.form-box {
  display: flex;
  align-items: center;
  width: 100%;
}

.search {
  width: 57px;
  padding: 10px;
  border: 1px solid #FFF;
}

.search-form {
  flex: 1 0 auto;
  height: 60px;
  font-size: 18px;
  padding-left: 10px;
}

.form-text {
  display: block;
}

.task-form {
  display: flex;
  width: 100%;
  margin: auto;
  padding-left: 18px;
}

.form-item {
  height: 50px;
  width: 80%;
}

.add-task {
  border: 1px solid #1F1F3D;
  background-color: #1F1F3D;
  color: #FFF;
  font-size: 50px;
  font-weight: 300;
  width: 15%;
  height: 50px;
  padding-bottom: 5px;
}

.top-left {
  background-color: #587A8A;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;
  grid-area: sidetop;
  padding: 30px 15px 15px 15px;
}

.bottom-left {
  background-color: #587A8A;
  grid-area: sidebottom;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  border-top: 1px solid #C7D3D8;
  padding: 15px;
  height: 430px;
}

.form {
  width: 90%;
  padding: 15px 0;
  margin: 0 auto;
  border: none;
}

.form-text {
  margin: 0 0 3px 25px;
  color: #F3F6F7;
}

.button {
  background-color: #1F1F3D;
  border: none;
  color: #FFF;
  width: 90%;
  margin: 10px auto;
  padding: 10px 0;
  font-size: 16px;
}

@media (min-width: 850px) {
  header{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .form-box {
    width: auto;
  }
  .search-form {
    flex: 1 0 auto;
    width: 350px;
  }
}
