* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.container {
  display: grid;
  grid-template-areas:
    "head head head"
    "sidetop main main"
    "sidetop main main"
    "sidebottom main main"
    "sidebottom main main";
  grid-template-columns: 33%;
}

header {
  background-color: #1F1F3D;
  grid-area: head;
  padding: 15px;
}

h1 {
  padding: 5px 0;
  color: #FFF;
  font-size: 45px;
  text-align: center;
}

.yo {
  color: #FFC30C;
}

.form-box {
  display: flex;
  align-items: center;
  width: 100%;
}

.search {
  width: 57px;
  padding: 10px;
  border: 1px solid #C8D3D9;
  border-radius: 3px 0 0 3px;
  background-color: #C8D3D9;
}

.search-form {
  flex: 1 0 auto;
  height: 60px;
  font-size: 18px;
  padding-left: 10px;
  border-radius: 0 3px 3px 0;
  border: none;
}

.task-form {
  display: flex;
  width: 100%;
  margin: auto;
  padding: 0 0 20px 15px;
}

.form-item {
  padding: 20px;
  width: 81%;
  border: none;
  border-radius: 3px 0 0 3px;
}

.add-task {
  display: flex;
  border: 1px solid #1F1F3D;
  background-color: #1F1F3D;
  color: #FFF;
  font-size: 50px;
  font-weight: 300;
  width: 15%;
  height: 60px;
  border-radius: 0 3px 3px 0;
}

.plussign {
  margin: 0 auto 5px auto;
}

.top-left {
  background-color: #587A8A;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;
  grid-area: sidetop;
  padding: 30px 0 30px 0;
}

.bottom-left {
  background-color: #587A8A;
  grid-area: sidebottom;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  border-top: 1px solid #C7D3D8;
  padding-top: 30px;
  height: 430px;
}

.form-title {
  width: 93%;
  padding: 20px 0;
  margin: 0 auto 15px auto;
  border: none;
  border-radius: 3px;
}

.form-text {
  font-size: 22px;
  margin: 0 0 6px 16px;
  color: #F3F6F7;
}

.task-delete {
  height: 3em;
  width: 3em;
  border-radius: 50%;
  border: none;
  margin-right: 10px;
}

.appended {
  color: #FFF;
  list-style: none;
  text-align: left;
  font-size: 22px;
  margin-left: 12%;
  padding-bottom: 5px;
  vertical-align: middle;
}

.button {
  background-color: #1F1F3D;
  border: none;
  border-radius: 3px;
  color: #FFF;
  width: 93%;
  margin: 10px auto;
  padding: 15px 0;
  font-size: 26px;
  font-weight: 400;
}

.button-disable:disabled {
  background-color: grey;
}

.task-card {
  grid-area: main;
  flex-direction: column;
  text-align: center;
  border-left: 2px solid lightgrey;
  border-right: 2px solid lightgrey;
  display: flex;
  align-items: center;
  margin: 5%;
}

.divider {
  border-top: 2px solid lightgrey;
  border-bottom: 2px solid lightgrey;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.divider-top {
  justify-content: center;
}

.urgent-button {
  height: 20px;
  margin: 5px;
}

.delete-button {
  height: 20px;
  margin: 5px;
}

ul {
  list-style-image: url(check-yo-self-icons/checkbox.svg);
}

.disabled-button {
  background-color: lightgrey;
}

@media (min-width: 850px) {
  header{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .form-box {
    width: auto;
  }
  .search-form {
    flex: 1 0 auto;
    width: 350px;
  }
}
